:root {
	    --bg: #2d3238;
	    --fg: #fff;
}

@font-face {
	font-family: "QuattrocentoKF";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: url("static/quattrocento.woff2") format("woff2");
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: QuattrocentoKF, sans-serif;
	text-align: center;
}

header {
	display: inline-flex;
	font-size: 28px;
	margin: 0.25em;
	width: 100%;
}

header * {
	margin: auto 0;
}

#logo {
	--sep-spacing: 0.4em;

	/* Simple thin vertical bar. */
	border-right: solid 0.1em var(--fg);
	display: inherit;
	/* margin affects spacing outside of border. */
	margin-right: var(--sep-spacing);
	padding-right: var(--sep-spacing);
}

#logo span {
	display: block;
}

#logo img {
	height: 64px;
	margin-right: 0.2em;
}

#options {
	font-size: 14pt;
}
